[class*='_ibg'] {
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.17) 0%,
			rgba(255, 255, 255, 0.76) 32.92%,
			rgba(255, 255, 255, 0.9) 59.51%,
			rgba(255, 255, 255, 0.87) 103.7%
		),
		url('../images/bg-main.jpg') 90% / cover no-repeat;
	backdrop-filter: blur(29px);
}
.main {
	flex: 1 1 auto;
}
