.footer {
	// .footer__container

	margin-bottom: 81px;
	&__container {
	}

	// .footer__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// .footer__text

	&__text {
		@include adaptive-value('font-size', 24, 20, 1);
		line-height: 129%;
		letter-spacing: -0.41px;
		color: $darkBlue;
		@media (max-width: $md3+px) {
			margin-bottom: 20px;
		}
	}

	// .footer__icons

	&__icons {
	}
}

.icon {
	// .icon__image
	display: flex;
	&__image {
		width: 48px;
		height: 48px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-left: 16px;
		transition: transform 0.8s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				transform: rotate(360deg);
			}
		}

		&._instagram {
			background: url('../images/bg-instagram.png');
		}
		&._vk {
			background: #4b6d9a;
		}
		&._ok {
			background: #f29000;
		}
		&._facebook {
			background: #044487;
		}
	}
}
