.intro {
	margin-bottom: 107px;
	// .intro__container

	&__container {
	}

	// .intro__body

	&__body {
		// display: flex;
		display: flex;
		@media (max-width: $md2+px) {
			display: block;
		}
		// justify-content: space-between;
	}

	// .intro__info

	&__info {
		flex: 1 1 45%;
	}

	// .intro__image

	&__image {
		flex: 0 1 55%;
		position: relative;
		img {
			position: relative;
			z-index: 10;
			// display: none;
			// position: absolute;
			// @include adaptive-value('right', -60, 0, 1);
			// // right: -60px;
			// top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		// flex: 0 1 40%;
	}
	&__circle {
		border-radius: 50%;
		position: absolute;
		&._green {
			left: 30%;
			top: 20%;
			width: 393px;
			height: 393px;

			background: $lightGreen;
			z-index: 5;
			@media (max-width: $md3+px) {
				@include adaptive-value('width', 330, 250, 1);
				@include adaptive-value('height', 330, 250, 1);
			}
			@media (max-width: $md4+px) {
				@include adaptive-value('width', 250, 170, 1);
				@include adaptive-value('height', 250, 170, 1);
			}
		}
		&._blue {
			width: 266px;
			height: 266px;
			background: $lightBlue;
			left: 10%;
			top: 20%;
			z-index: 6;
			@media (max-width: $md3+px) {
				@include adaptive-value('width', 266, 200, 1);
				@include adaptive-value('height', 266, 200, 1);
			}
			@media (max-width: $md4+px) {
				@include adaptive-value('width', 200, 140, 1);
				@include adaptive-value('height', 200, 140, 1);
			}
		}
		&._pink {
			width: 312px;
			height: 312px;
			background: $lightPink;
			left: 35%;
			top: 5%;
			z-index: 4;
			@media (max-width: $md3+px) {
				@include adaptive-value('width', 312, 200, 1);
				@include adaptive-value('height', 312, 200, 1);
			}
			@media (max-width: $md4+px) {
				@include adaptive-value('width', 200, 130, 1);
				@include adaptive-value('height', 200, 130, 1);
			}
		}
		&._small_pink {
			width: 48px;
			height: 48px;
			background: $lightPink;
			bottom: 0;
			right: 0;
		}
		&._small_green {
			width: 42px;
			height: 42px;
			background: $lightGreen;
			bottom: 40%;
		}
		&._small_blue {
			width: 42px;
			height: 42px;
			background: $lightBlue;
			right: 100px;
			top: -50px;
		}
	}
}

.info {
	// .info__title
	@media (max-width: $md3+px) {
		margin-bottom: 100px;
	}
	&__title {
		font-weight: 700;
		@include adaptive-value('font-size', 48, 24, 1);
		line-height: 94%;
		color: $darkBlue;
		letter-spacing: -0.41px;
		margin-bottom: 52px;
	}

	// .info__list

	&__list {
		margin-bottom: 48px;
	}

	// .info__item

	&__item {
		font-weight: 500;
		@include adaptive-value('font-size', 24, 16, 1);
		line-height: 129%;
		color: $darkBlue;
		list-style: disc;
		margin-left: 25px;
	}

	// .info__btn

	// .info__text

	&__text {
		font-weight: 600;
		@include adaptive-value('font-size', 24, 18, 1);
		line-height: 129%;
		letter-spacing: -0.41px;
		color: rgba(31, 41, 74, 0.5);
	}
}

.btn {
	@include adaptive-value('min-height', 54, 45, 1);
	border-radius: 10px;
	padding: 0 18px 0 58px;
	background: #787d8c;
	color: #fff;
	margin-bottom: 16px;
	transition: all 0.4s ease 0s;
	background: url('../images/apple.svg') 18px 7px no-repeat, #787d8c;
	@media (max-width: $md3+px) {
		background: url('../images/apple.svg') 18px 4px / 35px 35px no-repeat,
			#787d8c;
	}
	&__subtitle {
		display: block;
		@include adaptive-value('font-size', 10, 8, 1);
	}

	// .btn__title

	&__title {
		display: block;
		@include adaptive-value('font-size', 24, 18, 1);
	}
	@media (any-hover: hover) {
		&:hover {
			background: url('../images/apple.svg') 18px 7px no-repeat, #424244;
		}
	}
}
