$white: #fff;
$darkBlue: #1f294a;

$lightGreen: #9df3ac;
$lightBlue: #00e9de;
$lightPink: #fd82c1;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1243;

$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
